[Journal]
Storage={{ journald_Storage }}
Compress={{ journald_Compress }}
Seal={{ journald_Seal }}
SplitMode={{ journald_SplitMode }}
SyncIntervalSec={{ journald_SyncIntervalSec }}
RateLimitInterval={{ journald_RateLimitInterval }}
RateLimitBurst={{ journald_RateLimitBurst }}
SystemMaxUse={{ journald_SystemMaxUse }}
#SystemKeepFree=
#SystemMaxFileSize=
RuntimeMaxUse={{ journald_RuntimeMaxUse }}
#RuntimeKeepFree=
#RuntimeMaxFileSize=
#MaxRetentionSec=
MaxFileSec={{ journald_MaxFileSec }}
ForwardToSyslog={{ journald_ForwardToSyslog }}
ForwardToKMsg={{ journald_ForwardToKMsg }}
ForwardToConsole={{ journald_ForwardToConsole }}
ForwardToWall={{ journald_ForwardToWall }}
TTYPath={{ journald_TTYPath }}
MaxLevelStore={{ journald_MaxLevelStore }}
MaxLevelSyslog={{ journald_MaxLevelSyslog }}
MaxLevelKMsg={{ journald_MaxLevelKMsg }}
MaxLevelConsole={{ journald_MaxLevelConsole }}
MaxLevelWall={{ journald_MaxLevelWall }}
LineMax={{ journald_LineMax }}
